<a href="https://colab.research.google.com/github/LUCY-JungHwaKim/DataAnalysis/blob/main/2%ED%9A%8C%EC%8B%A4%EA%B8%B0%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 485, done.
remote: Counting objects: 100% (122/122), done.
remote: Compressing objects: 100% (78/78), done.
remote: Total 485 (delta 66), reused 49 (delta 44), pack-reused 363
Receiving objects: 100% (485/485), 8.89 MiB | 12.62 MiB/s, done.
Resolving deltas: 100% (251/251), done.

In [3]:
import pandas as pd
data1 = pd.read_csv('./yemoonsaBigdata/datasets/Part3/201_boston.csv')
data1.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
data_srt = data1.sort_values('CRIM', ascending=False)
data_srt.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
380,88.9762,0.0,18.1,0.0,0.671,6.968,91.9,1.4165,24.0,666.0,20.2,396.90,17.21
418,73.5341,0.0,18.1,0.0,0.679,5.957,100.0,1.8026,24.0,666.0,20.2,16.45,20.62
405,67.9208,0.0,18.1,0.0,0.693,5.683,100.0,1.4254,24.0,666.0,20.2,384.97,22.98
410,51.1358,0.0,18.1,0.0,0.597,5.757,100.0,1.4130,24.0,666.0,20.2,2.60,10.11
414,45.7461,0.0,18.1,0.0,0.693,4.519,100.0,1.6582,24.0,666.0,20.2,88.27,36.98
404,41.5292,0.0,18.1,0.0,0.693,5.531,85.4,1.6074,24.0,666.0,20.2,329.46,27.38
398,38.3518,0.0,18.1,0.0,0.693,5.453,100.0,1.4896,24.0,666.0,20.2,396.90,30.59
427,37.6619,0.0,18.1,0.0,0.679,6.202,78.7,1.8629,24.0,666.0,20.2,18.82,14.52
413,28.6558,0.0,18.1,0.0,0.597,5.155,100.0,1.5894,24.0,666.0,20.2,210.97,20.08
417,25.9406,0.0,18.1,0.0,0.679,5.304,89.1,1.6475,24.0,666.0,20.2,127.36,26.64

In [7]:
crim_10 = data_srt.iloc[9]['CRIM']
crim_10

25.9406

In [11]:
data_srt.iloc[:9,0]

380    25.9406
418    25.9406
405    25.9406
410    25.9406
414    25.9406
404    25.9406
398    25.9406
427    25.9406
413    25.9406
Name: CRIM, dtype: float64

In [9]:
data_srt.iloc[:9]['CRIM'] = crim_10
data_srt.head(10)

<ipython-input-9-bb57cc1d2e81>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_srt.iloc[:9]['CRIM'] = crim_10

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
380,25.9406,0.0,18.1,0.0,0.671,6.968,91.9,1.4165,24.0,666.0,20.2,396.90,17.21
418,25.9406,0.0,18.1,0.0,0.679,5.957,100.0,1.8026,24.0,666.0,20.2,16.45,20.62
405,25.9406,0.0,18.1,0.0,0.693,5.683,100.0,1.4254,24.0,666.0,20.2,384.97,22.98
410,25.9406,0.0,18.1,0.0,0.597,5.757,100.0,1.4130,24.0,666.0,20.2,2.60,10.11
414,25.9406,0.0,18.1,0.0,0.693,4.519,100.0,1.6582,24.0,666.0,20.2,88.27,36.98
404,25.9406,0.0,18.1,0.0,0.693,5.531,85.4,1.6074,24.0,666.0,20.2,329.46,27.38
398,25.9406,0.0,18.1,0.0,0.693,5.453,100.0,1.4896,24.0,666.0,20.2,396.90,30.59
427,25.9406,0.0,18.1,0.0,0.679,6.202,78.7,1.8629,24.0,666.0,20.2,18.82,14.52
413,25.9406,0.0,18.1,0.0,0.597,5.155,100.0,1.5894,24.0,666.0,20.2,210.97,20.08
417,25.9406,0.0,18.1,0.0,0.679,5.304,89.1,1.6475,24.0,666.0,20.2,127.36,26.64

In [10]:
data_age = data_srt[data_srt.AGE >= 80]
result = data_age.CRIM.mean()
print(result)

5.759386625

In [29]:
## 2번
data2 = pd.read_csv('./yemoonsaBigdata/datasets/Part3/202_housing.csv')
data2.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [30]:
data_size = int(len(data2)*0.8)
tr_data2 = data2.iloc[:data_size]
tr_data2.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [31]:
med_bed = tr_data2.total_bedrooms.median()
med_bed

436.0

In [32]:
std_bef = tr_data2.total_bedrooms.std()
std_bef

435.90057705252616

In [18]:
import warnings
warnings.filterwarnings(action='ignore')

In [33]:
tr_data2.total_bedrooms.fillna(med_bed, inplace=True)

In [34]:
new_med = tr_data2.total_bedrooms.std()
new_med

433.9254297608805

In [35]:
result = abs(std_bef-new_med)
print(result)

1.9751472916456692

In [36]:
## 3번
data2.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [37]:
std_pop = data2.population.std()
avg_pop = data2.population.mean()

In [38]:
iqr1= avg_pop - (1.5*std_pop)
iqr2 = avg_pop + (1.5*std_pop)

data_pre = data2[(data2.population > iqr2) | (data2.population < iqr1)]
result = data_pre.population.sum()
print(result)

5607295.0

In [39]:
## 제 2유형

In [40]:
x_train = pd.read_csv('./yemoonsaBigdata/datasets/Part3/204_x_train.csv')
x_test = pd.read_csv('./yemoonsaBigdata/datasets/Part3/204_x_test.csv')
y_train = pd.read_csv('./yemoonsaBigdata/datasets/Part3/204_y_train.csv')

In [41]:
x_train.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,9902,F,Ship,3,5,214,2,medium,F,6,4578
1,9501,A,Ship,4,2,201,3,medium,F,4,4613
2,6111,A,Ship,4,2,264,3,low,M,10,5137
3,588,F,Ship,3,5,194,2,medium,M,4,3496
4,10806,F,Road,5,5,269,5,medium,F,3,1120

In [42]:
x_train = x_train.iloc[:, 1:]
x_test = x_test.iloc[:, 1:]

In [44]:
y_train = y_train.iloc[:, 1:]

In [51]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6599 entries, 0 to 6598
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      6599 non-null   object
 1   Mode_of_Shipment     6599 non-null   object
 2   Customer_care_calls  6599 non-null   int64
 3   Customer_rating      6599 non-null   int64
 4   Cost_of_the_Product  6599 non-null   int64
 5   Prior_purchases      6599 non-null   int64
 6   Product_importance   6599 non-null   object
 7   Gender               6599 non-null   object
 8   Discount_offered     6599 non-null   int64
 9   Weight_in_gms        6599 non-null   int64
dtypes: int64(6), object(4)
memory usage: 515.7+ KB

In [47]:
X_data = pd.concat([x_train, x_test])

In [48]:
from sklearn.preprocessing import LabelEncoder

lhe = LabelEncoder()

COL_CAT = ['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender']

for _col in COL_CAT:
  lhe.fit(X_data[_col])
  X_data[_col] = lhe.transform(X_data[_col])

In [50]:
X_trains = X_data.iloc[:len(x_train)].reset_index(drop=True)
X_tests = X_data.iloc[len(x_train):].reset_index(drop=True)
X_trains

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,4,2,3,5,214,2,2,0,6,4578
1,0,2,4,2,201,3,2,0,4,4613
2,0,2,4,2,264,3,1,1,10,5137
3,4,2,3,5,194,2,2,1,4,3496
4,4,1,5,5,269,5,2,0,3,1120
...,...,...,...,...,...,...,...,...,...,...
6594,4,2,4,1,213,3,1,0,21,3585
6595,4,2,5,1,257,5,1,1,9,1329
6596,3,2,3,1,264,4,1,1,10,4265
6597,2,0,3,1,185,2,2,0,9,4316
6598,3,2,3,4,265,3,2,0,7,5113

In [52]:
from sklearn.preprocessing import MinMaxScaler

scl = MinMaxScaler()

scl.fit(X_trains)
X_trains_scl = scl.transform(X_trains)
X_tests_scl = scl.transform(X_tests)

In [53]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_trains_scl, y_train, test_size=0.3)
X_tr.shape

(4619, 10)

In [54]:
X_val.shape, y_tr.shape

((1980, 10), (4619, 1))

In [55]:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [57]:
y_tr_fin = y_tr['Reached.on.Time_Y.N']

In [58]:
model_rf = RandomForestClassifier(n_estimators=10)
model_rf.fit(X_tr, y_tr_fin)

RandomForestClassifier(n_estimators=10)

In [59]:
y_pred = model_rf.predict_proba(X_val)[:, 1]

from sklearn.metrics import roc_auc_score

scr = roc_auc_score(y_val, y_pred)
scr

0.7390061020798534

In [60]:
model_xgb = XGBClassifier()
model_xgb.fit(X_tr, y_tr_fin)
y_pred_xgb = model_xgb.predict_proba(X_val)[:, 1]
scr_xgb  = roc_auc_score(y_val, y_pred_xgb)
scr_xgb

0.7323691997545984

In [61]:
from sklearn.tree import DecisionTreeClassifier

In [62]:
from sklearn.neighbors import KNeighborsClassifier

In [64]:
y_test = model_rf.predict_proba(X_tests_scl)[:,1]
y_test

array([0.3, 0.3, 0.6, ..., 0.3, 0.4, 0.6])

In [65]:
from sklearn.metrics import classification_report

y_ss = model_rf.predict(X_val)
classification_report(y_val, y_ss)

'              precision    recall  f1-score   support\n\n           0       0.56      0.72      0.63       791\n           1       0.77      0.63      0.69      1189\n\n    accuracy                           0.67      1980\n   macro avg       0.67      0.67      0.66      1980\nweighted avg       0.69      0.67      0.67      1980\n'

In [67]:
import warnings
warnings.filterwarnings(action='ignore')