<a href="https://colab.research.google.com/github/LUCY-JungHwaKim/DataAnalysis/blob/main/Part2_chap5_N1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 485, done.
remote: Counting objects: 100% (122/122), done.
remote: Compressing objects: 100% (78/78), done.
remote: Total 485 (delta 66), reused 49 (delta 44), pack-reused 363
Receiving objects: 100% (485/485), 8.89 MiB | 15.27 MiB/s, done.
Resolving deltas: 100% (251/251), done.

In [3]:
import pandas as pd

iris = pd.read_csv('./yemoonsaBigdata/datasets/Part2/iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
iris.species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [6]:
## 문제1. species 변수 값 별로 petal_width 상위 25% 값을 구한 후, 가장 큰 값과 가장 작은값 사이의 차이를 계산
iris.groupby('species').petal_width.describe()
#Ans 상위 25% --> 75% 값임
# setosa : 0.3, versicolor : 1.5, virginica : 2.3
# 2.3-0.3 = 2

            count   mean       std  min  25%  50%  75%  max
species
setosa       50.0  0.246  0.105386  0.1  0.2  0.2  0.3  0.6
versicolor   50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
virginica    50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

In [11]:
## 문제2. sepal_length 변수의 전체 값들을 중복 없이 리스트로 만든 후, 오름차순으로 정렬했을때 리스트의 10번째에 오는 숫자
sepdup = iris.drop_duplicates('sepal_length')
sepdup.sort_values('sepal_length', ascending=True).head(10)
#Ans) 5.

    sepal_length  sepal_width  petal_length  petal_width species
13           4.3          3.0           1.1          0.1  setosa
8            4.4          2.9           1.4          0.2  setosa
41           4.5          2.3           1.3          0.3  setosa
3            4.6          3.1           1.5          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
0            5.1          3.5           1.4          0.2  setosa
27           5.2          3.5           1.5          0.2  setosa

In [53]:
## 문제 2번 다른방법
lst = iris['sepal_length'].unique().tolist()
lst.sort()
lst[9]

5.2

In [56]:
# 문제3. sepal_width 값으로 내림차순한 후 위에서 부터 100개 행을 학습데이터로 분리
# 학습데이터에서 sepal_width의 표준 편차 값을 구한 후 50을 곱한 값을 계산 (최종 계산값의 소수점 이하는 버림)
import numpy as np
train_x = iris.sort_values('sepal_width', ascending=False).head(100)
train_x['sepal_width'].std() # 0.3268212373945751
int(train_x['sepal_width'].std() * 50)
# Ans) 16
#소수점 이하 버릴때는 int 쓰면됨

16

In [39]:
## 문제 4. species 변수 값벼로 petal_length 상위 10개행의 평균값을 구한후 평균값의 합을 계산 (최종 계산값의 소수점 이하는 반올림)
iris_sort = iris.sort_values(['species', 'petal_length'], ascending=False).groupby('species').head(10)
iris_sort

     sepal_length  sepal_width  petal_length  petal_width     species
118           7.7          2.6           6.9          2.3   virginica
117           7.7          3.8           6.7          2.2   virginica
122           7.7          2.8           6.7          2.0   virginica
105           7.6          3.0           6.6          2.1   virginica
131           7.9          3.8           6.4          2.0   virginica
107           7.3          2.9           6.3          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
130           7.4          2.8           6.1          1.9   virginica
135           7.7          3.0           6.1          2.3   virginica
100           6.3          3.3           6.0          2.5   virginica
83            6.0          2.7           5.1          1.6  versicolor
77            6.7          3.0           5.0          1.7  versicolor
52            6.9          3.1           4.9          1.5  versicolor
72            6.3          2.5           4.9          1.5  versicolor
70            5.9          3.2           4.8          1.8  versicolor
76            6.8          2.8           4.8          1.4  versicolor
50            7.0          3.2           4.7          1.4  versicolor
56            6.3          3.3           4.7          1.6  versicolor
63            6.1          2.9           4.7          1.4  versicolor
73            6.1          2.8           4.7          1.2  versicolor
24            4.8          3.4           1.9          0.2      setosa
44            5.1          3.8           1.9          0.4      setosa
5             5.4          3.9           1.7          0.4      setosa
18            5.7          3.8           1.7          0.3      setosa
20            5.4          3.4           1.7          0.2      setosa
23            5.1          3.3           1.7          0.5      setosa
11            4.8          3.4           1.6          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
26            5.0          3.4           1.6          0.4      setosa
29            4.7          3.2           1.6          0.2      setosa

In [58]:
round(iris_sort.groupby('species').petal_length.mean().sum())
# 반올림할때는 round 함수 쓰면됨

13

In [42]:
np.ceil(1.7+4.83+6.39)

13.0

In [ ]:
#문제 5. sepal_length 변수가 이상치를 가지는 데이터 행수 계산
# 이상치 범위는 (평균 + 2*표준편차) 이상이거나 (평균 - 2*표준편차) 이하

In [43]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [48]:
avg_sl = iris.sepal_length.mean()
std_sl = iris.sepal_length.std()

In [49]:
iqr1 = avg_sl + (2*std_sl)
iqr2 = avg_sl - (2*std_sl)

In [50]:
len(iris[(iris.sepal_length >= iqr1) | (iris.sepal_length <= iqr2)])

6